<h1 id="welcomeHeader">Hello, and welcome to Sai's Porfolio!</h1>
  <section id="aboutMe">
    <h3 id="am-Title">A Little About Me</h3>
    <p id="aboutMeText">Temporary Test Text -AM</p>
  </section>
  <section id="professionalBackground">
    <h3 id="pb-Title">My Professional Background</h3>
    <p id="professionalBackgroundText">Temporary Test Text -PB</p>
  </section>
  <section id="projectHighlight">
    <h3 id="ph-Title">Project Highlight</h3>
    <div id="projectOne">
      <p id="projectOneDescription">Temporary Text Project One Description</p>
    </div>
    <div id="projectTwo">
      <p id="projectTwoDescription">Temporary Text Project Two Description</p>
    </div>
  </section>